<span style='color: #000' title='Frames'>   177</span><span style='color: #009' title='Memory'>  78592.00 KB</span><span style='color: #900' title='Time'>    535.32 ms</span><span  title='Quirksmode'>  <span style='color: #d00'> ON</span></span><br />