/* Switch Styles */
.toggle {
    background:url("../images/checkbox.png") bottom left;
    display:inline-block;
    width:20px;
    height:18px;
}
.toggle.checked {
    background-position: left top;
}
.toggleR {
    border:2px solid #d6d6d6;
    background:white;
    display:inline-block;
    width:15px;
    height:15px;
    position:relative;
    top:4px;
}
.toggleR.checked {
    background:#1b66ea;
    background-position: left top;
}
.disabled {
    opacity: .7;
}