/****** CSS style for pdf Version of Product display content type *********/
body {
	font-family: 'Roboto', sans-serif;
	margin-top: 75px;
	margin-bottom: 80px;
}
#logo {
	width: 235px;
}
#header_pdf {
	border-collapse: collapse;
	width: 100%;
	font-family: 'Roboto', sans-serif;
	position: fixed;
	top: -30;
	margin-top: 30px;
}
#header_pdf td {
	width: 50%;
	line-spacing: 7px;
}
#header_pdf td:nth-child(2) {
	padding-left: 175px;
}
#header_pdf td:nth-child(2) div:nth-child(1) {
	color: black;
	font-size: 18px;
	text-align: right;/* width: 350px !important; */
}
#header_pdf td:nth-child(2) div:nth-child(2) {
	color: grey;
	font-size: 16px;
	padding-left: 85px;
	padding-bottom: 10px;
	text-align: right;
}
.sub_titles {
	font-size: 19px;
	width: 100%;
	border-bottom: 1.5px solid black;
}
#header_pdf td:nth-child(2) {
	text-align: right;
}
.images {
	border: 2px solid #e9e9e9;
}
ul li {
	list-style-type: none;
}
ul {
	margin-left: -40px;
	list-style-type: none;
}
.primary_product_image img {
	width: 200px;
	height: auto;
}
#sub_image_2 {
	margin-left: 7px;
}
#block_usage {
	font-size: 12px;
}
#block_usage .logo-enterprise img {
	width: 150px;
	height: auto;
}
#block_usage ul li {
	display: inline;
}
#block_usage ul li img {
	width: 25px;
}
#image_description {
	width: 260px;
	padding-top: 30px;
}
#description_block {
	font-size: 15px;
}
#description_block ul li {
	line-height: 36px;
}
#description_block ul li img {
	padding-top: 20px;
}
#description_block div img {
	width: 100px;
}
.footer_text {
	font-size: 11px;
	line-height: 12px;
}
#footer {
	position: fixed;
	bottom: 55;
}
#table_models {
	border-collapse: collapse;
}
#table_models td, table th {
	border: 1px solid black;
}
#table_models tr:first-child th {
	border-top: 0;
}
#table_models tr:last-child td {
	border-bottom: 0;
}
#table_models tr td:first-child, #table_models tr th:first-child {
	border-left: 0;
}
#table_models tr td:last-child, #table_models tr th:last-child {
	border-right: 0;
}
#table_models {
	border-bottom: 1px solid black;
	border-top: 0px !important;
	margin-top: 23px;
	font-size: 14.3px;
	text-align: center;
}
#table_models td {
	padding: 5px;
}
#table_models img {
	width: 20px;
}
.table_stat {
	margin-top: 35px;
}
.table_stat td {
	width: 280px;
	margin-top: 45px;
}
.table_stat td img {
	width: 60px;
	border: 1px solid black;
	margin-right: 25px;
}
#page {
	page-break-after: always;
}
