.table-wishlist .views-field-title{
  float:none;
}

.table-wishlist .table > thead > tr > th{

}

.table-wishlist .table > tbody > tr > td{
  
}

#title_wishlist{
  text-align:center;
}

.picture_compare_col ul li{
  height:130px !important;
}

.picture_compare_col ul li img{
   margin:0 auto;
   float:none;
}


.compare_pdf ul > li{
  margin-right:0px;
}

.compare_pdf  table{
  width:800px;
}

.compare_pdf  table  tr{
  background:white;
}

.compare_pdf table  tr  td{
  border:1px solid #d7d7d7;
  width:200px;
}

.bean-country-selector .inner_list{
 margin:48px 0px 25px 0px;
}

.bean-country-selector .content .three-columns-row .two-columns-row-other-country{
  line-height:63px !important;
}

#other-countries{
 margin:40px 0px 0px 0px;
}