.view-id-wishlist .flag-wishlist {
	color: #000;
	font-size: 22px;
	position: absolute;
	right: 0px;
	top: 4px;
}
.view-id-wishlist .flag-wishlist a {
	color: #8a8e97;
}
.view-id-wishlist .input-group .form-control {
	height: 40px;
}
.wishlist_buttons .remove_all {
	border: 0px;
	background-color: #2c2e34;
	float: right;
	padding-right: 25px;
}
.wishlist_buttons .remove_all i {
	font-size: 22px;
	margin-left: 10px;
}
.wishlist_buttons .remove_all:hover, .wishlist_buttons .remove_all:active {
	color: #fff;
}
.wishlist_buttons .remove_all {
	border-radius: 2px;
}
.wishlist_buttons .wishbtn {
	margin-right: 25px;
}
.wishlist_buttons .wishbtn {
	border: 0px;
	background-color: #1b66ea;
	float: right;
	padding-right: 25px;
}
.wishlist_buttons .wishbtn i {
	font-size: 22px;
	margin-left: 10px;
}
.wishlist_buttons .wishbtn:hover, .wishlist_buttons .wishbtn:active {
	color: #fff;
}
.wishlist_buttons .wishbtn {
	border-radius: 2px;
}
.header-bottom {
	position: relative;
}
#ajax_replace_auto {
	background: #fff none repeat scroll 0 0;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 9999;
}
#ajax_replace_auto .row {
	background: #fff;
	padding: 10px;
	padding-bottom: 20px;
	border: 1px solid #d6d6d6;
}
.search_div_img img {
	display: block;
	float: left;
	margin-bottom: 15px;
	margin-right: 15px;
	max-width: 100px;
}
.sep_menu {
	background: #d6d6d6 none repeat scroll 0 0;
	display: block;
	height: 95%;
	left: 50%;
	position: absolute;
	transform: translateX(-50%);
	width: 1px;
}
/* HOME MENU */
.full_menu .tb-megamenu-submenu {
	position: absolute;
	left: 0px;
	width: 100%;
}
li.simple_menu {
	position: relative !important;
}
.tb-megamenu-main-menu.tb-megamenu .nav > li {
	position: unset;
}
.tb-megamenu-main-menu .tb-mega-sub-menu .panel-heading a, .tb-megamenu-main-menu .tb-mega-sub-menu .panel-heading a:hover {
	margin-left: 0px;
	white-space: normal;
	position: relative;
	text-align: left;
}
.tb-megamenu-main-menu .tb-mega-sub-menu .panel-heading a span span {
	position: absolute;
	left: 0px;
	padding-left: 30px;
}
.tb-megamenu-main-menu .tb-mega-sub-menu a, .tb-megamenu-main-menu .tb-mega-sub-menu a:hover {
	white-space: normal;
}
.tb-megamenu-main-menu .tb-mega-sub-menu > .panel > .panel-collapse > .panel-body {
	padding-left: 15px;
	margin-left: 0px;
}
.tb-megamenu-main-menu .product-tabs-vertical > .panel > .panel-collapse {
	height: auto;
	padding-left: 255px;
}
.tb-megamenu-main-menu .view-product-family-tab .row {
	margin-left: -15px;
	margin-bottom: 20px;
}
.tb-megamenu-main-menu .product-tabs-vertical > .panel > .panel-collapse {
	background-color: #fff;
}
.mobile_menu {
	display: none;
}
.pc_menu {
	display: block;
}
.bean-video {position:relative;}
.pane-footer-menus {padding-left:25px;}
@media (max-width: 1200px) {
.bean-services .services-description{max-width:80%; margin:auto;}
.bean-services .service-blocks a.service-block {float:unset; display:inline-block;}
.service-blocks, .services-description {

    text-align: center;
}
.bean-slider2 nav.slick__arrow .slick__arrow__inner, .bean-top-slider nav.slick__arrow .slick__arrow__inner {
	width: 100%;
}
}





@media only screen and (min-width:640px) and (max-width: 992px)  {
.header-left .header-left-second .pane-page-logo{
	    float: left;
    overflow: hidden;
    text-align: center;
    width: 100%;
	padding:0px;
}
.header-left .header-left-second .pane-search-form, .header-left .header-left-second .bean-search-block{
   float: right;
    margin-bottom: 17px;
    padding: 2px 30px 0 0;
    position: relative;
    width: 320px;
}

}
@media (max-width: 640px) {
.bean-social-networks .field-type-field-collection .field-item {display:inline-block; float:unset;}
.bean-social-networks .field-type-field-collection{max-width:100%;}
.bean-social-networks .field-name-field-title {font-size:45px; width:100%;}
.bean-services .service-blocks .service-block-icon img {position:absolute; left:0;}
.bean-services .services-button {left:0px; right:0px; text-align:center;}
.bean-help-choose .field-type-link-field a, .bean-find-solution .field-type-link-field a, .bean-services .services-button a, .bean-video .field-name-field-link a, .pane-news .views-field-nid a, .bean-rss .field-name-field-link a, .bean-top-slider .slide__link a, .bean-slider2 .slide__link a{
font-size:14px;}
.bean-services .service-blocks a.service-block .service-block-description p {padding:0 15px 0 46px;font-size:24px;}
.bean-services .service-blocks a.service-block {position:relative;}
.bean-services .service-blocks a.service-block .service-picto {    position: absolute;
    right: 36px;
    top: 84px;
    }
}
@media (max-width: 768px) {
.header-left {
	height: 200px;
}


}
@media (max-width: 992px) {


.mobile_menu {
	display: block;
}
.pc_menu {
	display: none;
}
.bean-slider2 nav.slick__arrow .slick__arrow__inner, .bean-top-slider nav.slick__arrow .slick__arrow__inner {
	width: 100%;
}
.tb-megamenu-main-menu .tb-megamenu-item .tb-megamenu-submenu {
	height: auto !important;
}
.tb-megamenu-main-menu.tb-megamenu .nav-collapse .dropdown-menu {
	margin: 0;
}
.tb-megamenu-main-menu.tb-megamenu .span12.mega-col-nav .mega-inner {
	padding: 0px;
}
.tb-megamenu-main-menu .panel-group {
	margin-bottom: 0px;
}
.tb-megamenu-main-menu .product-tabs-vertical > .panel > .panel-collapse {
	padding-left: 0px;
}
.tb-megamenu-main-menu .tb-mega-sub-menu > .panel > .panel-collapse > .panel-body {
	width: 100%;
}
.tb-megamenu-main-menu .tb-mega-sub-menu .panel-body2 {
	width: 100%;
}
.tb-megamenu-main-menu .view-product-family-tab .row {
	margin-bottom: 0px;
}
.tb-megamenu-main-menu .tb-mega-sub-menu .panel-heading a span span {
	position: relative;
}
}
.view-id-compare .compare_remove_button {
	position: absolute;
	right: 0;
	top: -128px;
}
.view-id-compare .compare_remove_button a {
	color: #d6d6d6;
	font-size: 20px;
}
/* compare table */
.view-id-compare .compare_data {
	margin-top: 15px;
	margin-bottom: 30px;
}
.view-id-compare .compare_data ul li {
	height: 65px;
	border: 1px solid #d7d7d7;
	border-bottom: 0px;
	padding-top: 25px;
}
.view-id-compare .compare_data ul.row-last li {
	border-bottom: 1px solid #d7d7d7;
}
.view-id-compare .compare_data ul.row-odd > li {
	background: #fff;
}
.view-id-compare .compare_data ul.row-even > li {
	background: #e8e8e8;
}
.view-id-compare .compare_data ul > li {
	text-align: center;
	color: #828ca2;
	font-size: 12px;
}
.view-id-compare .compare_data ul > li:first-child {
	text-align: left;
	color: #4b4f58;
	font-weight: bold;
	font-size: 14px;
	padding-top: 22px;
}
.disable_ckeckbox {
	display: none;
}
.check_with_label input {
	display: none;
}
.check_with_label label.checked {
	color: red;
}
#filters > div {
	margin-bottom: 30px;
	padding-bottom: 30px;
	position: relative;
}
#filters > div:after {
	background: #d6d6d6 none repeat scroll 0 0;
	bottom: 0;
	content: "";
	display: block;
	height: 4px;
	position: absolute;
	width: 30%;
}
#filters .ui-slider {
	height: 6px;
	border-color: #4b4f58;
	border-radius: 0;
	border-left: 0;
	border-right: 0;
}
#filters .ui-slider:before {
	border-left: 1px solid #4b4f58;
	content: "";
	display: block;
	height: 14px;
	left: 0px;
	position: absolute;
	top: -5px;
	width: 1px;
}
#filters .ui-slider:after {
	border-left: 1px solid #4b4f58;
	content: "";
	display: block;
	height: 14px;
	right: 0px;
	position: absolute;
	top: -5px;
	width: 1px;
}
#filters .ui-slider-horizontal .ui-slider-handle {
	margin-left: 0px;
	top: -14px;
}
#filters .ui-slider .ui-slider-handle {
	background: #4b4f58 none repeat scroll 0 0;
	border: 0 none;
	border-radius: 0;
	cursor: default;
	height: 34px;
	position: absolute;
	width: 12px;
	z-index: 2;
}
#filters .ui-slider .valuebox {
	color: #4b4f58;
	left: -19px;
	position: absolute;
	text-align: center;
	top: 31px;
	width: 50px;
}
#filters .simple_slider .ui-slider {
	margin-bottom: 40px;
}
#filters .filter_title {
	margin-bottom: 30px;
}
#reset {
	font-family:'Rajdhani', sans-serif;
	color: #1b66ea;
	display: block;
	font-weight: bold;
	letter-spacing: 2.4px;
	text-transform: uppercase;
	width: 100%;
	font-size:16px;
}
#reset span {
	float: right;
	font-size: 20px;
	margin-top: -5px;
}
#filters .selectBox-dropdown {
	background: none;
	border-radius: 3px;
	width: 100%;
}
#filters .selectBox-dropdown .selectBox-label {
	display: block;
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	font-weight: normal;
	padding-bottom: 15px;
	padding-left: 20px;
	padding-top: 16px;
    letter-spacing:0px;
	color:#272e39;
}
#filters .selectBox-dropdown .selectBox-arrow {
	background: rgba(0, 0, 0, 0) url("../images/arrows.png") no-repeat scroll 50% center;
	margin-right: 20px;
	border-left: 0px;
}
#filters h3 {
	text-transform:uppercase;
}

#views-exposed-form-facet-search-block .selectBox-dropdown .selectBox-arrow {
	background: rgba(0, 0, 0, 0) url("../images/arrows.png") no-repeat scroll 50% center;
}

/* maliste */
.maliste_comapre_amount {
	text-align: center;
}
.maliste_comapre_title:after, .maliste_comapre_amount:after {
	border-bottom: 1px solid #d6d6d6;
	bottom: 0;
	content: "";
	display: block;
	height: 1px;
	position: absolute;
	width: 100%;
}
.maliste_comapre_title.odd:after {
	left: 0;
}
.maliste_comapre_amount.odd:after {
	left: -15px;
}
.maliste_comapre_title.even:after {
	right: -15px;
}
.maliste_comapre_amount.even:after {
	right: 0;
}
.maliste_row {
	display: table;
	width: 100%;
	margin: 0px;
}
.maliste_row [class*="col-"] {
	float: none;
	display: table-cell;
	vertical-align: top;
	padding-top: 40px;
	padding-bottom: 40px;
}
.inner_wrapper {
	padding-left: 18px;
}
.maliste_row > .maliste_comapre_title:first-child .inner_wrapper {
	padding-left: 3px;
}
.view-id-wishlist .views-field-nothing-1 .maliste_row:last-child .maliste_comapre_title:after, .view-id-wishlist .views-field-nothing-1 .maliste_row:last-child .maliste_comapre_amount:after {
	border-bottom: 0px solid #d6d6d6;
}
.fulllist .headinfo {
	padding-bottom: 0px;
}
.views-field.views-field-nothing-1::before {
	background: #d6d6d6 none repeat scroll 0 0;
	content: "";
	display: block;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	height: 1px;
}
.close_whislist_info {
	color: #1d1d1b;
	font-size: 20px;
	position: absolute;
	right: 60px;
	top: 25px;
	cursor: pointer;
}
.fulllist .headinfo .collapsed .fa-chevron-down {
	display: none;
}
.fulllist .headinfo .collapsed .fa-chevron-right {
	display: inline-block;
}
.fulllist .headinfo .fa-chevron-down {
	display: inline-block;
}
.fulllist .headinfo .fa-chevron-right {
	display: none;
}
.fulllist .views-field-nothing-2 a {
	display: block;
}
.fulllist .views-field-nothing-2 a:first-child {
	color: #fff;
	background: #1b66ea none repeat scroll 0 0;
}
.fulllist .views-field-nothing-2 a {
	color: #1b66ea;
	text-transform: uppercase;
	border: 3px solid #1b66ea;
	border-radius: 28px;
	cursor: pointer;
	display: inline-block;
	font-size: 16px;
	margin-right: 20px;
	padding: 15px 30px;
	margin-top: 45px;
	margin-bottom: 60px;
	position: relative;
}
.fulllist .views-field-nothing-2 a:last-child {
	padding-right: 60px;
}
.fulllist .views-field-nothing-2 i {
	margin-left: 25px;
	position: absolute;
	top: 18px;
	right: 25px;
}
.fulllist .views-row:first-child {
	padding-top: 0px;
}
.fulllist .wishlist_buttons {
	padding-top: 50px;
	padding-bottom: 50px;
}
#q1, #q1 .number2 {
	background-color: #193a71;
}
#q2, #q2 .number2 {
	background-color: #1a3054;
}
#q3, #q3 .number2 {
	background-color: #182740;
}
#q4, #q4 .number2 {
	background-color: #0d192e;
}
#q5, #q5 .number2 {
	background-color: #061020;
}
#q6, #q6 .number2 {
	background-color: #193a71;
}
#q7, #q7 .number2 {
	background-color: #1a3054;
}
div.question {
	position: relative;
	padding-left: 80px;
	padding-right: 80px;
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
}
div.question h2 {
	color: #fff;
}
div.question img {
	cursor: pointer;
	margin-bottom:10px;
}
div.question span {
	font-family:'Rajdhani', sans-serif;
	color:#fff;
	font-size:16px;
	letter-spacing:2.4px;
}
div.question .answers input {
	display: none;
}
div.question .answers {
	display: block;
	float: left;
	margin-right: 25px;
}
div.question > .number2 {
	height: 100px;
	left: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 50px;
}
div.question > .number {
	font-family:'Rajdhani', sans-serif;
	font-size:24px;
	font-weight:bold;
	background-color: #1b66ea;
	border-radius: 100%;
	color: #fff;
	display: block;
	height: 100px;
	left: -50px;
	padding-left: 25px;
	padding-top: 35px;
	position: absolute;
	text-align: left;
	top: 50%;
	transform: translateY(-50%);
	width: 100px;
}
.checked img {
	opacity: 0.5;
}
.checked .checked_chouse img {
	opacity: 1;
}
div.question label {
	position: relative;
	max-width:210px;
	margin-bottom:15px;
}
div.question .checked_chouse .icon {
	display: block;
}
div.question .icon {
	background: #000 none repeat scroll 0 0;
	border-radius: 50%;
	color: #fff;
	padding: 2px 0px;
	position: absolute;
	right: -10px;
	top: -10px;
	display: none;
	width: 24px;
	height: 24px;
	text-align: center;
}
/* breadcrums */
.breadcrumb {
	background: none;
	padding: 0;
}
.breadcrumb a {
	color: #4b4f58;
}
.breadcrumb > li + li::before {
	content: "- ";
	color: #4b4f58;
}
.breadcrumb > li:first-child + li::before {
	content: "| ";
}
.view-facet-search .views-exposed-form .views-exposed-widget {
	float: unset;
}
.view-facet-search .form-item-sort-by {
	float: right;
}
.view-facet-search .form-item-sort-by .selectBox {
	font-family: Roboto, "sans-serif";
	letter-spacing:0px;
	float: unset;
	width: 180px;
	height:60px;
	box-shadow:none;
	border-radius:3px;
	padding-top:15px;
}
