.bean-configurator p {
	color: #3e4247;
	font-family: "Roboto", sans-serif;
	font-size: 16px;
}
.configurator-image {
	border: 1px solid #babec6;
	border-radius: 5px;
	padding: 20px;
	text-align: center;
}
.configurator-image img{
	display: inline;
}
.bean-configurator #filters > div:last-child {
	padding-bottom: 0;
}
.bean-configurator #filters > div:last-child::after {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	padding: 0;
}
.btn2.choose-model a.tubesca_core_flag_fields_button {
	float: none;
}
.webform-client-form-16 input[type="radio"],
.webform-client-form-912 input[type="radio"]  {
	visibility: hidden;
}
.webform-client-form-13 .webform-component--typology-client .form-item.has-error label {
	color: #1b66ea;
}
.webform-client-form-13 .webform-component--typology-client .form-item.has-error:hover label {
	color: white !important;
}
.webform-client-form-13 .webform-component--etes-vous-deja-client-chez-nous- .form-radios label, .webform-component--plus-de-details .form-radios label {
	font-weight: normal !important;
}
.webform-client-form-13 .webform-component--etes-vous-deja-client-chez-nous- .radio, .webform-component--plus-de-details .radio {
	display: inline-block !important;
}
.webform-client-form-13 .webform-component--etes-vous-deja-client-chez-nous- .radio .control-label, .webform-client-form-13 .webform-component--plus-de-details .radio .control-label {
	color: #3e4247;
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	padding-bottom: 0;
	padding-top: 0;
}
.webform-client-form-13 .webform-component--typology-client .toggleR {
	display: none;
}
.webform-client-form-13 .webform-component--typology-client .form-item label {
	font-weight: bold;
	max-width: none !important;
}
.view-wishlist #visual_image img {
	height: 150px;
	margin: 10px;
	width: 150px;
}
.webform-client-form-13 .webform-component--typology-client .form-item {
	background: white none repeat scroll 0 0;
	border: 1px solid #8a8e97;
	border-radius: 3px;
	color: #1b66ea;
	float: left;
	font-family: "Rajdhani", sans-serif;
	font-size: 16px;
	font-weight: bold;
	height: 225px;
	line-height: 25px;
	margin-right: 20px;
	margin-top: 15px;
	padding: 30px;
	text-align: center;
	width: 216px;
}
.webform-client-form-13 .webform-component--typology-client .form-item.form-item-submitted-typology-client {
	font-size: 16px !important;
}
.webform-client-form-13 .webform-component--typology-client .form-item:nth-child(3) {
	margin-right: 0;
}
.webform-client-form-13 .webform-component--civilite .form-radios {
	display: inline-block;
}
.webform-client-form-13 .form-item.webform-component {
	color: black !important;
}
.webform-client-form-13 #success_form {
	background-color: #be7;
	border: 1px solid;
	color: #a94442;
	margin: 20px 0;
	padding: 20px;
}
.webform-client-form-13 .form-type-webform-number {
	width: 49%;
}
.webform-client-form-13 .form-item-submitted-email {
	width: 49%;
}
.webform-client-form-13 .webform-component--typology-client .form-item:hover {
	background: #1b66ea none repeat scroll 0 0;
	color: white;
}
.webform-client-form-13 .webform-component--typology-client .form-item:hover label::after {
	color: #1b66ea !important;
}
.webform-client-form-13 .webform-component--typology-client .form-item.checked label::after {
	color: #1b66ea !important;
}
.webform-client-form-13 .webform-component--typology-client .form-item label {
	font-size: 16px;
	height: 225px;
	margin: -30px;
	padding-left: 60px !important;
	padding-right: 60px !important;
	padding-top: 30px;
	text-transform: uppercase;
}
.webform-client-form-13 .webform-component--typology-client .form-item label::before {
	line-height: 45px;
}
.webform-client-form-13 .webform-component--typology-client .form-item:nth-child(1) label::before {
	content: url("/sites/default/files/distributeur_picto.png");
}
.webform-client-form-13 .webform-component--typology-client .form-item:nth-child(2) label::before {
	content: url("/sites/default/files/loueur_picto.png");
}
.webform-client-form-13 .webform-component--typology-client .form-item:nth-child(3) label::before {
	content: url("/sites/default/files/utilisateur_picto.png");
}
.webform-client-form-13 .webform-component--typology-client .form-item.has-error.checked label {
	color: white !important;
}
.webform-client-form-13 .form-actions {
	float: right;
	margin-top: 20px;
}
.webform-client-form-13 #contact_footer {
	margin-top: 20px;
}
.webform-client-form-13 .captcha {
	display: inline-block;
	margin-top: 20px;
}
.webform-client-form-13 #edit-submitted-typology-client .form-item.checked {
	background: rgb(27, 102, 234) none repeat scroll 0 0;
	color: white;
}
.webform-client-form-13 #edit-submitted-typology-client .form-item.checked label {
	color: white;
}
.webform-client-form-13 .webform-component--typology-client .form-item label::after {
	border-style: solid;
	border-width: 0.25em 0.25em 0 0;
	color: #1b66ea;
	content: "";
	display: block;
	height: 0.65em;
	left: 42px;
	position: relative;
	top: 30px;
	transform: rotate(45deg);
	vertical-align: top;
	width: 0.65em;
}
#webform-client-form-13 #contact_header {
	display: none;
}
#webform-client-form-13--2 #contact_header {
	color: black;
	display: block;
	font-size: 17px;
	margin-bottom: 25px;
}
#alerts_form {
	background-color: #f2dede;
	border: 1px solid;
	color: #a94442;
	margin: 20px 0;
	padding: 20px;
}
.page-wishlist-pdf .views-field-field-visual img {
	height: 220px;
	width: 220px;
}
.bean-carrousel {
	background: #fff url("../images/slider_plus_icon.png") no-repeat scroll 20px top;
	border-top: 1px solid #1b66ea;
	margin-top: 20px;
	padding-bottom: 60px;
	text-align: center;
}
.bean-navigation #nav-title {
	color: #1b66ea;
	font-family: "Rajdhani", sans-serif;
	font-size: 22px;
	font-weight: bold;
	height: 40px;
	margin: 20px;
	text-align: right;
	text-transform: uppercase;
}
.navigation_menu li {
	border-bottom: 3px solid #e9ebed;
	list-style: outside none none;
	padding: 19px 0;
	text-align: left;
}
.navigation_menu li span {
	color: #4b4f58;
	font-family: "Rajdhani", sans-serif;
	font-size: 16px;
	text-transform: uppercase;
}
.navigation_menu li:hover .nav-heading::before {
	color: #1b66ea !important;
}
.navigation_menu li:hover span {
	font-weight: bold !important;
}
.bean-navigation #inner_block {
	width: 85%;
}
.nav-heading::before {
	border-style: solid;
	border-width: 0.25em 0.25em 0 0;
	color: #4b4f58;
	content: "";
	display: inline-block;
	height: 0.65em;
	left: 0.15em;
	position: relative;
	top: 0.3em;
	transform: rotate(-45deg);
	vertical-align: top;
	width: 0.65em;
}
.nav-heading.right::before {
	left: -25px;
	transform: rotate(45deg);
}
#modalContent {
	top: 50px !important;
}
.modal-open {
	overflow-x: hidden !important;
	overflow-y: scroll !important;
}
#popup-text h4 {
	color: #fff;
}
.webform-client-form-862 .webform-component--send-to-contact {
}
.webform-client-form-862 .form-actions {
}
@media only screen and (max-width: 1200px) {
.webform-client-form-13 .webform-component--typology-client .form-item label {
	height: 60px;
	margin: 0;
	padding-top: 0;
}
.webform-client-form-13 .webform-progressbar-page {
	display: none;
}
.webform-client-form-13 .webform-progressbar-page.current {
	display: block;
	text-align: center;
}
.webform-client-form-13 .webform-progressbar-outer .webform-progressbar-page:first-of-type::after, .webform-client-form-13 .webform-progressbar-outer .webform-progressbar-page:nth-of-type(2)::after {
	display: none;
}
.webform-client-form-13 .webform-progressbar-outer {
	background: none;
}
.webform-client-form .webform-progressbar .webform-progressbar-page {
	margin-left: auto !important;
	margin-right: auto !important;
}
.webform-client-form-13 .form-actions {
	float: none;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 20px;
}
.webform-client-form-13 #edit-submitted-typology-client .form-item {
	width: 30%;
	padding-left: 30px !important;
	padding-right: 30px !important;
}
.webform-client-form-13 .webform-component--typology-client .form-item label {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

}
@media only screen and (max-width: 992px) {
.bean-map {
	background: #fff url("../images/map_block_icon.png") no-repeat scroll 20px top;
	margin-top: 0;
	padding-left: 20px;
	padding-right: 20px;
}
.webform-client-form-13 #edit-submitted-typology-client .form-item {
	padding-left: 0px !important;
	padding-right: 0px !important;
}
.webform-client-form-13 .webform-component--typology-client .form-item label {
    padding-left: 60px !important;
    padding-right: 60px !important;
}
}
@media only screen and (max-width: 768px) {
.webform-client-form-13 #edit-submitted-typology-client .form-item {
	padding-left: 0px !important;
	padding-right: 0px !important;
}
.webform-client-form-13 #edit-submitted-typology-client .form-item label::before {
	float: left;
	margin-top: -10px;
	margin-right: 10px; 
}
.webform-client-form-13 #edit-submitted-typology-client .form-item label {
	padding-right: 55px !important;
	padding-top: 15px;
}
}
 @media only screen and (max-width: 375px) {
.webform-client-form-13 #edit-submitted-typology-client .form-item label::after {
	margin-left: 0px;
}
}