// Wishlist PDF >> CSS classes

.table-wishlist .views-field-title {
    float: none;
}

.table-wishlist  img {
    width:110px;
    height:150px;
    text-align:left;
    vertical-align:top;
}

.table-wishlist .inner_cells{
  text-align:left !important;
}

.table-wishlist .inner_numenclatures{
  width:85%;
  margin-top:5px;
}

#num_table{
    border-spacing: 6px;
}

#num_table tr td{
  border-bottom: 0.15px solid #8a8e97 !important;
  width:50% !important;
}

.table-wishlist .table > tbody > tr td  {
    border-bottom: 0.7px solid #8a8e97;
    padding:20px 5px 20px 5px;
    text-align:left;
    vertical-align:top;
    font-size:10px;
    font-family:'Roboto', sans-serif;
}


#title_wishlist {
    text-align: left;
    margin-top:20px;
    font-size:16px;
    font-family:'Roboto', sans-serif;
}

// Wishlist PDF <<<<<<<<< CSS classes -----------------------------------


//  Compare PDF >>> CSS classes

.picture_compare_col ul li {
    height: 130px !important;
}
.picture_compare_col ul li img {
    margin: 0 auto;
    float: none;
}
.compare_pdf ul > li {
    margin-right: 0px;
}
.compare_pdf table {
    width: 700px;   

}

.compare_pdf .picture_compare_col img{
  width:60px;
  height:100px;
  margin: 20px 0px 20px 0px;
}

.compare_pdf table tr {
    background: white;
}
.compare_pdf table tr td {
    border: 1px solid #8a8e97 !important;
    width: 25%;
    padding: 5px 5px 5px 10px;
    font-family:'Roboto', sans-serif;
}

//  Compare PDF >>> CSS classes ---------------------------------------------------------------


//  PDF CSS - all content >>> CSS classes
.print-content {
    margin: 40px 0 0 0;
}
.print-content table {
    border-spacing: 0px;
}
#header_pdf td {
    width: 50%;
    line-spacing: 7px;
}
#header_pdf td:nth-child(2) {
    padding-left: 175px;
}
#header_pdf td:nth-child(2) div:nth-child(1) {
    color: black;
    font-size: 18px;
    width: 350px !important;
}
#header_pdf td:nth-child(2) div:nth-child(2) {
    color: grey;
    font-size: 16px;
    padding-left: 85px;
    padding-bottom: 10px;
}
#header_pdf td:nth-child(2) img {
    padding-left: 295px;
}
#logo {
    width: 235px;
}
#page {
    page-break-after: always;
}
.footer_text {
    font-size: 13px;
    line-height: 12px;
    font-family:'Roboto', sans-serif !important;
}
#footer {
    position: fixed;
    bottom: 65;
}

//  PDF CSS - all content >>> CSS classes -------------------------------------
