#sliding-popup .popup-content #popup-buttons {
  float: left;
}

#sliding-popup .popup-content #popup-text {
  float: right;
  text-align: right;
}

#sliding-popup .popup-content #popup-buttons button {
  -moz-box-shadow:inset 0px 0px 0px 1px #ffffff;
  -webkit-box-shadow:inset 0px 0px 0px 1px #ffffff;
  box-shadow:inset 0px 0px 0px 1px #ffffff;
  background:-webkit-gradient( linear, right top, right bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
}

#sliding-popup .popup-content #popup-buttons button:hover {
  background:-webkit-gradient( linear, right top, right bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
}

#sliding-popup .popup-content #popup-text {
  float: right;
  text-align: right;
}
