// Layout /****** General Styles *********/
body {
 color: @grey-darker;
 margin: 0;
 padding: 0;
 font-family: @font-family-ss-roboto;
}
#block-system-main > .panels-flexible-3 > .panels-flexible-3-inside > .panels-flexible-region-3-center, #block-system-main > .contextual-links-region > .panels-ipe-display-container > .panels-flexible-3 > .panels-flexible-3-inside > .panels-flexible-region-3-center {
	width: 100%;
}
a, a:hover, a:focus {
	text-decoration: none;
	letter-spacing: 2.4px;
}
button:hover, button:focus, button:active {
	outline: none !important;
}
.btn {
	outline: none !important;
}
h1, h2, h3, h4 {
 font-family: @font-family-ss-rajdhani;
	font-weight: bold;
 color: @grey-darker;
}
h1 {
	font-size: 55px;
	letter-spacing: 2.75px;
	text-transform: uppercase;
}
h1.subtitle {
 font-family: @font-family-ss-roboto;
	font-weight: 300;
	font-size: 30px;
	letter-spacing: 0.9px;
 color: @grey;
	text-transform: none;
}
h2 {
	font-size: 35px;
	letter-spacing: 1.05px;
	text-transform: uppercase;
}
h2.subtitle {
 font-family: @font-family-ss-roboto;
	font-weight: 300;
	font-size: 20px;
	letter-spacing: 0.6px;
 color: @blue-light;
	text-transform: none;
}
h3 {
	font-size: 22px;
	letter-spacing: 0.66px;
	text-transform: uppercase;
}
h3.subtitle {
	text-transform: none;
}
h4 {
	font-size: 20px;
	letter-spacing: 0.6px;
}
.orange_bullets li {
	background: url('../images/product-bullet.png') center left no-repeat;
	list-style: none;
	padding-left: 30px;
}
p {
 font-family: @font-family-ss-roboto;
 font-size: 16px;
 color: @grey-darker;
}
p.intro {
 font-family: @font-family-ss-roboto;
	font-weight: 300;
	font-size: 16px;
	letter-spacing: 0.48px;
	line-height: 27pt;
 color: @greyish;
}
.listing {
 font-family: @font-family-ss-roboto;
	font-weight: 300;
	font-size: 20px;
	letter-spacing: 0.48px;
	line-height: 27pt;
 color: @greyish !important;
}
*:focus, textarea:focus, input:focus {
	outline: none;
}
.breadcrumb {
	margin-bottom: 0px !important;
}
.btn {
	white-space: normal !important;
}
img {
	height: auto !important;
	max-width: 100%;
}
.container-white {
	padding: 40px;
	background-color: #fff;
}
#block-system-main .container.container-white {
	padding: 40px;
}
#block-system-main .slick-slide {
	min-height: 0px;
}
/****** Ekko Lightbox - Navigation *********/

.ekko-lightbox-nav-overlay a {
	opacity: 1 !important;
	width: auto !important;
	text-shadow: none !important;
	color: #3B3B3B !important;
	height: 20px !important;
}
.ekko-lightbox-nav-overlay {
	top: auto !important;
	display: block !important;
	opacity: 1 !important;
	bottom: -30px !important;
	height: 20px !important;
}
.ekko-lightbox-nav-overlay a:hover {
	color: #20507D;
}
.modal-body {
	padding: 0px 0px 50px 0px !important;
}
/****** Navigation Style *********/
.menu.nav li a {
 font-family: @font-family-ss-rajdhani;
	font-weight: bold;
	font-size: 17px;
 color: @grey-darker;
}
ul.tb-megamenu-nav .product-tabs-vertical > .panel .table_size_icon {
	background: url("../images/menulink_plus.png") center right no-repeat;
	color: #1b66ea;
 font-family: @font-family-ss-rajdhani;
	font-size: 16px;
	font-weight: bold;
	width: 180px;
	height: 21px;
	line-height: 21px;
}
.tb-megamenu .caret {
	display: none !important;
}
/****** Main Content Style *********/
.btn {
 font-family: @font-family-ss-rajdhani;
	font-weight: bold;
	font-size: 16px;
 color: @white;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 10px 35px;
	text-transform: uppercase;
}
.round-btn {
	border-radius: 25px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
}
.blue-light-btn {
 background: @blue-light;
}
a.blue-light-btn {
	color: #fff;
}
.blue-btn, .blue-btn:hover {
 background: @blue;
}
.dark-btn {
	background: #182740;
}
.dark-btn:hover {
	background: #0b1526;
	color: #fff;
}
.selectBox-options LI A {
	letter-spacing: 0px;
}
.bg-purge{
	background: none !important;
}
/****** File Upload *********/
.form-type-managed-file {
	position: relative;
	overflow: hidden;
}
input.form-file {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
.webform-component-file label {
	display: none;
}
/****** Views *********/
.search-page-filters {
	margin-bottom: 30px;
	margin-left: -40px;
	margin-right: -40px;
  margin-top: -40px;
}
.search-page-filters ul {
	margin: 0;
	padding: 0;
}
.search-page-filters ul li{
	list-style: none;
	display: inline;
  font-family:@font-family-ss-rajdhani;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  text-align:  center;
}
.search-page-filters ul li a{
  color: #fff;
	float: left;
  width: 33.3%;
  /*position: relative;
  background-clip: content-box !important;
  overflow: hidden;
  padding-bottom: 5%;*/
  line-height: 64px; 
  height:64px;
  z-index: 0;
}
.search-page-filters ul li a img{
  display: inline;
	vertical-align: top;
	display: none;
}
.search-page-filters ul li.active a img{
  display: inline;
}
.search-page-filters ul li:nth-child(1) a{
   background: #2e83f7;
}

.search-page-filters ul li:nth-child(2) a{
  background: #0065eb;
   
}

.search-page-filters ul li:nth-child(3) a{
  width: 33.4%;
  background: #0053cb;
  
}
@media only screen and (max-width: 768px){
  .search-page-filters {
    margin-left: -15px;
    margin-right: -15px;
    margin-top: -15px;
  }
  .search-page-filters ul li.active a:after {
    top: 29%;
  }
}
.tubesca-search-image, .bean-search-page .view-search-full-index img, .bean-search-page .view-sav img {
	float: left;
	margin-right: 15px;
	border: 1px solid #eaebed;
	margin-bottom: 15px;
}
.bean-search-page .view-search-full-index a, .bean-search-page .view-sav a {
 font-family: @font-family-ss-rajdhani;
	color: #4b4f58;
	font-size: 18px;
	font-weight: bold;
}
.tubesca-search-image-1623 {
	border: none !important;
}
.view-search-basic-content .views-row {
	clear: both;
}
.view-id-search_full_index .img-responsive, .view-id-search_basic_content .img-responsive {
	float: left;
	margin-right: 15px;
}
/****** Panels *********/
#block-system-main .panels-bootstrap-bootstrap_one, #block-system-main .panels-bootstrap-bootstrap_side:first-child {
 max-width: @max-res;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
}
.panel-flexible .panel-separator {
	margin: 0;
	height: 0;
}
.panels-bootstrap-region-bootstrap_one-top, .pane-bean-breadcrumbs {
	background: #f2f2f2;
}
.panels-bootstrap-row-bootstrap_side-1 {
	background: #f2f2f2;
 max-width: @max-res;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 94px;
}
.not-front .panels-bootstrap-row-bootstrap_one-1 {
}
.node-type-product-family.not-front .panels-bootstrap-row-bootstrap_one-1 > div > div {
	padding-bottom: 0px;
}
.not-front .panels-bootstrap-row-bootstrap_one-1 > div > div {
	background: #f2f2f2;
	padding-bottom: 65px;
}
#block-system-main .container .container {
	width: 100%;
}
.input-group-btn > .btn {
	height: 40px;
}
#block-system-main .container {
	padding-left: 0px;
	padding-right: 0px;
 @media (min-width: @screen-sm-min) {
 width: @container-sm;
}
 @media (min-width: @screen-md-min) {
 width: @container-md;
}
 @media (min-width: @screen-lg-min) {
 width: 1200px;
}
}
.panels-bootstrap-row-bootstrap_one-3 .pane-content {
	margin-left: auto;
	margin-right: auto;
 @media (min-width: @screen-sm-min) {
 width: @container-sm;
}
 @media (min-width: @screen-md-min) {
 width: @container-md;
}
 @media (min-width: @screen-lg-min) {
 width: 1200px;
}
}
/****** Header Common *********/
.pane-header-common {
	background: url('../images/header_common_bg.png') top left repeat-x;
}
header {
 max-width: @inner-res;
	margin-left: auto;
	margin-right: auto;
}
.header-right {
	width: 252px;
	height: 150px;
	float: right;
}
.header-left {
	float: none;
	height: 200px;
	overflow: hidden;
	width: auto;
}
.header-left .header-left-first {
	height: 60px;
}
.header-left .header-left-first .pane-lang-dropdown-language {
	float: right;
	width: 220px;
	padding-top: 13px;
}
.header-left .header-left-first .pane-menu-menu-top-menu {
	float: none;
	overflow: hidden;
	width: auto;
}
.header-left .header-left-second {
	height: 100px;
}
.header-left .header-left-second .pane-search-form, .header-left .header-left-second .bean-search-block {
	float: right;
	width: 320px;
	padding: 55px 30px 0px 0px;
	position: relative;
}
.header-left .header-left-second .bean-search-block input {
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid #d0d0d0;
	border-radius: 0;
	float: right;
	width: 238px;
	height: 34px;
	padding-left: 40px;
	-webkit-box-shadow: 0;
	-moz-box-shadow: 0;
	box-shadow: none;
	-webkit-transition: 0;
	-o-transition: 0;
	transition: none;
 font-family: @font-family-os;
	font-size: 14px;
	font-style: italic;
	color: #c2c2c2;
}
.header-left .header-left-second .bean-search-block input:focus {
	border-bottom: 1px solid #d0d0d0;
}
.search-block-icon {
	display: inline-block;
	background: url('../images/search_icon.png') center center no-repeat;
	width: 22px;
	height: 22px;
}
.header-left .header-left-second .bean-search-block .search-block-icon {
	bottom: 5px;
	position: absolute;
	right: 245px;
}
.header-left .header-left-second .pane-page-logo, .header-left .header-left-second .pane-bean-logo-en {
	float: none;
	overflow: hidden;
	padding-top: 44px;
	width: auto;
}
.header-left .header-left-second h1 {
	margin: 0px;
}
.no-padding {
	padding: 0 !important;
	margin: 0 !important;
}
.field-name-field-description p, .field-name-field-description p {
	margin: 0;
	padding: 0;
}
/****** Header Common - Top Menu *********/
header .pane-menu-menu-top-menu .menu.nav {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
header .pane-menu-menu-top-menu .menu.nav li {
	display: inline;
	line-height: 60px;
}
header .pane-menu-menu-top-menu .menu.nav li a {
 color: @white;
	display: inline;
	font-size: 12px;
 font-family: @font-family-os;
	font-weight: 300;
	padding: 0px 9px;
	letter-spacing: 0px;
}
header .pane-menu-menu-top-menu .menu.nav li a:hover, header .pane-menu-menu-top-menu .menu.nav li a:active, header .pane-menu-menu-top-menu .menu.nav li.open a, header .pane-menu-menu-top-menu .menu.nav li {
	background: none;
}
/****** Forms *********/
.form-control, .form-control:focus {
	box-shadow: none;
	transition: none;
	border-color: #cccccc;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.selectBox-dropdown .selectBox-arrow {
	background: rgba(0, 0, 0, 0) url("../images/arrows.png") no-repeat scroll 50% center;
}
.form-item-legal-accept a {
	letter-spacing: 0px;
	color: #1b66ea;
}
.form-item-legal-accept a strong {
 font-family:@font-family-ss-rajdhani;
	color: #1b66ea;
	font-size: 16px;
}
.form-item-legal-accept a strong:hover {
	color: #0e439f;
	text-decoration: underline;
}
.selectBox-dropdown {
	border-color: #dfdfdf;
}
.form-search .input-group > .input-group-btn {
	float: right;
}
.form-search .input-group > .form-text {
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid #d0d0d0;
	border-radius: 0;
	float: right;
	width: 238px;
	height: 34px;
	padding-left: 40px;
	-webkit-box-shadow: 0;
	-moz-box-shadow: 0;
	box-shadow: none;
	-webkit-transition: 0;
	-o-transition: 0;
	transition: none;
 font-family: @font-family-os;
	font-size: 14px;
	font-style: italic;
	color: #c2c2c2;
}
.form-search .input-group > .form-text:focus {
	z-index: 2;
}
.form-search .input-group {
	width: 100%;
}
.form-search .input-group .btn-primary {
	background: url('../images/search_icon.png') center center no-repeat;
	border: none;
	padding: 6px 15px;
}
.form-search .input-group .glyphicon-search::before {
	content: '';
}
/****** User Register Form *********/

#user-register-form .form-control {
	height: 60px;
	box-shadow: none;
	border-radius: 3px;
}
#user-register-form .selectBox-dropdown .selectBox-label {
	padding-top: 15px;
}
#user-register-form #edit-submit {
	background: #1b66ea none repeat scroll 0 0;
	border-radius: 25px;
	color: #ffffff;
	font-family: "Rajdhani", sans-serif;
	font-size: 16px;
	font-weight: bold;
	padding: 12px 35px !important;
	text-transform: uppercase;
	border: none;
	letter-spacing: 2.4px;
}
/****** Mega Menu *********/
.tb-megamenu-main-menu.tb-megamenu .nav > li {
	display: table-cell;
	width: auto;
	float: inherit;
}
.full_menu.tb-megamenu-submenu {
	width: 100%;
}
.tb-megamenu-main-menu.tb-megamenu .dropdown-menu {
	border-bottom: none;
	background: none;
}
.tb-megamenu-main-menu.tb-megamenu .nav > li > a{
	cursor: text;
}
.tb-megamenu-main-menu.tb-megamenu .nav li.dropdown.active > .dropdown-toggle, .tb-megamenu-main-menu.tb-megamenu .nav li.dropdown.open.active > .dropdown-toggle, .tb-megamenu-main-menu.tb-megamenu .nav > li > a, .tb-megamenu-main-menu.tb-megamenu .nav > li > a:focus, .tb-megamenu-main-menu.tb-megamenu .nav > li.active > a, .tb-megamenu-main-menu.tb-megamenu .nav > li.active > a:focus {
 color: @grey-darker;
 font-family: @font-family-ss-rajdhani;
	font-weight: bold;
	font-size: 17px;
	text-align: center;
	border-right: none;
 border-bottom: 6px solid @white;
 background: url('../images/main_menu_separator.png') right center no-repeat @white;
	letter-spacing: 0px;
	text-transform: uppercase;
}
.tb-megamenu-main-menu.tb-megamenu .nav li.dropdown.active > .dropdown-toggle:hover, .tb-megamenu-main-menu.tb-megamenu .nav li.dropdown.open > .dropdown-toggle, .tb-megamenu-main-menu.tb-megamenu .nav li.dropdown.open.active > .dropdown-toggle, .tb-megamenu-main-menu.tb-megamenu .nav > li > a:hover, .tb-megamenu-main-menu.tb-megamenu .nav > li.active > a:hover {
	color: #1b66ea;
	border-bottom: 6px solid #1b66ea;
}
.tb-megamenu-main-menu.tb-megamenu .nav li.dropdown.active:nth-child(1) > .dropdown-toggle:hover, .tb-megamenu-main-menu.tb-megamenu .nav li.dropdown.open:nth-child(1) > .dropdown-toggle, .tb-megamenu-main-menu.tb-megamenu .nav li.dropdown.open.active:nth-child(1) > .dropdown-toggle, .tb-megamenu-main-menu.tb-megamenu .nav > li:nth-child(1) > a:hover, .tb-megamenu-main-menu.tb-megamenu .nav > li.active:nth-child(1) > a:hover {
	color: #123097;
	border-bottom: 6px solid #123097;
}
.tb-megamenu-main-menu.tb-megamenu .nav li.dropdown.active:nth-child(2) > .dropdown-toggle:hover, .tb-megamenu-main-menu.tb-megamenu .nav li.dropdown.open:nth-child(2) > .dropdown-toggle, .tb-megamenu-main-menu.tb-megamenu .nav li.dropdown.open.active:nth-child(2) > .dropdown-toggle, .tb-megamenu-main-menu.tb-megamenu .nav > li:nth-child(2) > a:hover, .tb-megamenu-main-menu.tb-megamenu .nav > li.active:nth-child(2) > a:hover {
	color: #e83a4b;
	border-bottom: 6px solid #e83a4b;
}
.tb-megamenu-main-menu.tb-megamenu .nav li.dropdown.active:nth-child(3) > .dropdown-toggle:hover, .tb-megamenu-main-menu.tb-megamenu .nav li.dropdown.open:nth-child(3) > .dropdown-toggle, .tb-megamenu-main-menu.tb-megamenu .nav li.dropdown.open.active:nth-child(3) > .dropdown-toggle, .tb-megamenu-main-menu.tb-megamenu .nav > li:nth-child(3) > a:hover, .tb-megamenu-main-menu.tb-megamenu .nav > li.active:nth-child(3) > a:hover {
	color: #ffb80e;
	border-bottom: 6px solid #ffb80e;
}
.tb-megamenu-main-menu.tb-megamenu .nav > li.active:last-child > a, .tb-megamenu-main-menu.tb-megamenu .nav > li:last-child > a, .tb-megamenu-main-menu.tb-megamenu .nav > li.active:last-child > a:focus {
 background: @white;
}
.tb-megamenu-nav.nav {
	display: table;
	width: 100%;
}
/****** Mobile menu *********/

.tb-megamenu .btn-navbar {
	background: none;
	border: none;
	margin-left: 47px;
	margin-top: 13px;
}
.tb-megamenu .btn-navbar:hover {
	background: none;
}
.tb-megamenu .btn-navbar .fa.fa-reorder {
	background: url('../images/mobile_menu_icon.png') center center no-repeat;
	width: 54px;
	height: 44px;
}
.tb-megamenu .btn-navbar .fa.fa-reorder {
	background: url('../images/mobile_menu_icon.png') center center no-repeat;
	width: 54px;
	height: 44px;
}
.tb-megamenu .btn-navbar .fa-reorder::before {
	content: normal;
}
.tb-megamenu .btn-navbar:focus, .tb-megamenu .btn-navbar:active {
	background: none;
	border: none;
}
.tb-megamenu .btn-navbar:focus .fa.fa-reorder, .tb-megamenu .btn-navbar.active .fa.fa-reorder, .tb-megamenu .btn-navbar:active .fa.fa-reorder, .tb-megamenu .btn-navbar.disabled .fa.fa-reorder, .tb-megamenu .btn-navbar[disabled] .fa.fa-reorder {
	background: url('../images/mobile_menu_icon_close.png') center center no-repeat;
	width: 40px;
	height: 40px;
}
/****** Footer Common - Footer Menu *********/

.pane-menu-menu-footer-menu {
	background-color: #101b2e;
	height: 51px;
}
.pane-menu-menu-footer-menu .menu.nav {
	margin-left: auto;
	margin-right: auto;
 max-width: @inner-res;
}
.pane-menu-menu-footer-menu .menu.nav li {
	display: inline;
	line-height: 51px;
}
.pane-menu-menu-footer-menu .menu.nav li a, .pane-menu-menu-footer-menu .menu.nav li {
 color: @white;
	display: inline;
 font-family: @font-family-ss-roboto;
	font-size: 14px;
	font-weight: normal;
	letter-spacing: 0px;
}
.pane-menu-menu-footer-menu .menu.nav li:not(:first-child):before {
	content: " | ";
 color: @white;
}
.pane-menu-menu-footer-menu .menu.nav li a:hover, .pane-menu-menu-footer-menu .menu.nav li a:active, .pane-menu-menu-footer-menu .menu.nav li.open a, .pane-menu-menu-footer-menu .menu.nav li {
	background: none;
}
.pane-menu-menu-footer-column1 .pane-title, .pane-menu-menu-footer-column3 .pane-title, .pane-menu-menu-footer-column4 .pane-title {
	font-size: 16px;
 color: @blue-light;
	letter-spacing: 1.05px;
	margin-top: 20px;
	margin-bottom: 10px;
	font-weight: bold;
 font-family: @font-family-ss-rajdhani;
	width: 9em;
}
.pane-menu-menu-footer-column2 .pane-title {
	font-size: 16px;
 color: @blue-light;
	letter-spacing: 1.05px;
	margin-top: 20px;
	margin-bottom: 10px;
	font-weight: bold;
 font-family: @font-family-ss-rajdhani;
	width: 11em;
}
.pane-menu-menu-footer-column1 .menu.nav li a, .pane-menu-menu-footer-column2 .menu.nav li a, .pane-menu-menu-footer-column3 .menu.nav li a, .pane-menu-menu-footer-column4 .menu.nav li a {
	color: #3e4247;
 font-family: @font-family-ss-roboto;
	font-size: 14px;
	font-weight: normal;
	background: url('../images/footer_menu_arrow.png') center left no-repeat;
	padding-top: 0;
	padding-bottom: 0;
	line-height: 24pt;
	letter-spacing: 0px;
}
.pane-menu-menu-footer-column1 .menu.nav li a:hover, .pane-menu-menu-footer-column1 .menu.nav li a:active, .pane-menu-menu-footer-column1 .menu.nav li.open a, .pane-menu-menu-footer-column1 .menu.nav li, .pane-menu-menu-footer-column2 .menu.nav li a:hover, .pane-menu-menu-footer-column2 .menu.nav li a:active, .pane-menu-menu-footer-column2 .menu.nav li.open a, .pane-menu-menu-footer-column2 .menu.nav li, .pane-menu-menu-footer-column3 .menu.nav li a:hover, .pane-menu-menu-footer-column3 .menu.nav li a:active, .pane-menu-menu-footer-column3 .menu.nav li.open a, .pane-menu-menu-footer-column3 .menu.nav li, .pane-menu-menu-footer-column4 .menu.nav li a:hover, .pane-menu-menu-footer-column4 .menu.nav li a:active, .pane-menu-menu-footer-column4 .menu.nav li.open a, .pane-menu-menu-footer-column4 .menu.nav li {
	background: url('../images/footer_menu_arrow.png') center left no-repeat;
}
.pane-footer-menus {
 max-width: @max-res;
}
#mini-panel-footer_menus {
	margin-left: auto;
	margin-right: auto;
	margin-top: 22px;
 max-width: @inner-res;
}
 @media only screen and (max-width : 992px) {
#mini-panel-footer_menus .column {
	min-height: 250px;
}
}
/* Masonary News */
.view-id-news .view-content.masonry-processed, .view-id-chantier .view-content.masonry-processed {
	width: 100% !important;
}
.masonary-wrapper {
 background: @white;
	padding-bottom: 10px;
}
.masonry-item {
	border: none;
	padding: 0;
	margin: 0px 0px 50px 0px;
	position: relative;
	padding-right: 20px;
	background: none;
}
.view-display-id-block_2 {
}
.view-display-id-block_2 .views-field-title a {
 font-family: @font-family-ss-rajdhani;
	font-size: 24px;
	line-height: 28px;
 color: @blue-light;
}
.view-display-id-block_2 .views-field-view-node {
	position: absolute;
	bottom: -10px;
	width: 100%;
	text-align: center;
}
.view-display-id-block_2 .views-field-view-node a {
 background: @blue-light none repeat scroll 0 0;
	border-radius: 25px;
 color: @white;
 font-family: @font-family-ss-rajdhani;
	font-size: 16px;
	font-weight: bold;
	padding: 10px 30px;
	text-transform: uppercase;
}
.view-display-id-block_2 .views-field-body {
	margin-bottom: 35px;
}
.page-actualites .bean-intro, .page-chantiers .bean-intro, .page-news .bean-intro {
	background: none;
}
.view-news .view-content.masonry-processed {
	margin-bottom: 50px;
}
.view-news .views-field-field-image img {
	width: 100%;
	height: auto;
}
/*** Infinite scroll ***/

.pager--infinite-scroll .pager__item a {
	background: url("../images/scroll_plus_icon.png") bottom center no-repeat;
 font-family: @font-family-ss-rajdhani;
	font-size: 16px;
 color: @blue-light;
	background-color: none;
	border: none;
	border-radius: none;
	padding-bottom: 25px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 2.4px;
}
.pager--infinite-scroll .pager__item a:hover {
	background-color: #fff;
}
.view-id-news ul.pager--infinite-scroll, .view-chantier ul.pager--infinite-scroll {
	background: url("../images/scroll_top_separator.png") top center no-repeat;
	padding-top: 30px;
}
/* Generic Block */
.bean-generic {
	padding: 30px 40px;
	text-align: center;
}
.bean-generic .field-name-field-image .field-item img {
	margin-left: auto;
	margin-right: auto;
}
.bean-generic .field-name-field-title {
 font-family: @font-family-ss-rajdhani;
	font-size: 22px;
 color: @white;
	font-weight: bold;
	margin-top: 34px;
	text-transform: uppercase;
	letter-spacing: 2.2px;
	margin-bottom: 20px;
}
.bean-generic .field-name-field-description p {
 color: @white;
 font-family: @font-family-ss-rajdhani;
	font-size: 18px;
	font-weight: normal;
	padding-top: 30px;
	letter-spacing: 1.8px;
}
.bean-generic .generic-btn {
	border-radius: 25px;
 color: @white;
 font-family: @font-family-ss-rajdhani;
	font-size: 16px;
	font-weight: bold;
	padding: 15px 10px 15px 10px;
	text-transform: uppercase;
	letter-spacing: 2.4px;
	margin-top: 30px;
	display: block;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}
.bean-generic-54 .generic-btn {
	margin-top: 0px;
	display: inline-block;
	width: 50%;
	float:right;
}
/* Login Form Block */

#user-login {
	text-align: center;
	padding: 75px 99px;
}
#user-login h2 {
	background: url("../images/services_underscore.png") center bottom no-repeat;
 font-family: @font-family-ss-rajdhani;
	font-size: 35px;
	font-weight: bold;
	color: #2c2e34;
	padding-bottom: 30px;
}
#user-login input {
	border: 1px solid #e4e4e4;
	border-radius: 2px;
	padding: 10px;
}
#user-login #edit-submit, #user-login .register-block a {
 background: @blue-light none repeat scroll 0 0;
	border-radius: 25px;
 color: @white;
 font-family: @font-family-ss-rajdhani;
	font-size: 16px;
	font-weight: bold;
	padding: 12px 35px !important;
	text-transform: uppercase;
	letter-spacing: 2.4px;
}
#user-login #edit-submit {
	margin-bottom: 69px;
}
#user-login .textlink {
 color: @blue-light;
 font-family: @font-family-ss-roboto;
	font-size: 14px;
}
#user-login .register-block {
	background: #e3e4e6;
	padding-top: 24px;
	padding-bottom: 24px;
}
#user-login h3 {
 color: @blue-light;
 font-family: @font-family-ss-roboto;
	font-size: 24px;
	font-weight: 300;
	margin-top: 54px;
	margin-bottom: 50px;
}
#user-login .form-wrapper {
	text-align: left;
	padding-left: 230px;
	padding-right: 230px;
}
#user-login .form-item {
	margin-bottom: 30px;
}
#user-login .register-block span {
	margin-right: 37px;
}
/* News Inner Page */

h1.news-title {
 font-family: @font-family-ss-rajdhani;
	font-size: 35px;
	font-weight: bold;
 color: @grey-darker;
	text-transform: uppercase;
	text-align: center;
}
h2.news-created {
	background: rgba(0, 0, 0, 0) url("../images/services_underscore.png") no-repeat scroll center bottom;
	color: #8a8e97;
	font-family: "Roboto", sans-serif;
	font-size: 30px;
	font-weight: 300;
	padding-bottom: 40px;
	text-align: center;
}
/* Job Offers */

.view-id-job_offers .views-field-title a, .view-id-job_offers .views-field-view-node a {
	color: #1b66ea;
}
.view-id-job_offers .views-field-view-node a {
	background: rgba(0, 0, 0, 0) url("../images/footer_menu_arrow.png") no-repeat scroll left center;
	color: #1b66ea;
	font-family: "Rajdhani", sans-serif;
	font-size: 16px;
	font-weight: bold;
	padding-left: 17px;
}
.node-type-job-offer .offer-title {
 font-family: @font-family-ss-rajdhani;
	font-size: 55px;
	font-weight: bold;
 color: @grey-darker;
	text-transform: uppercase;
}
.node-type-job-offer h2.offer-subtitle {
	background: url("../images/services_underscore.png") center bottom no-repeat;
 font-family: @font-family-ss-roboto;
	font-size: 30px;
	color: #8a8e97;
	font-weight: 400;
	text-align: center;
	padding-bottom: 40px;
	font-weight: 300;
}
.offer-right-block {
 background: @grey-darker;
	text-align: center;
	border-radius: 3px;
	padding-top: 39px;
	padding-bottom: 39px;
}
.offer-right-block .field-label {
 font-family: @font-family-ss-rajdhani;
	font-size: 22px;
	font-weight: bold;
 color: @white;
	text-transform: uppercase;
}
.offer-right-block .field-item, .offer-right-block .field-item a {
 font-family: @font-family-ss-rajdhani;
	font-size: 16px;
 color: @white;
	padding-bottom: 21px;
}
/* Floating Buttons */

.floating-buttons {
	position: fixed;
	right: -300px;
	bottom: 0px;
	transition: all 1.5s ease-in-out 0s;
	width: 280px;
	z-index: 10;
}
.floating-buttons.fb-width {
	width: 320px;
}
.btn-open {
	position: fixed;
	right: -30px;
	bottom: 0px;
}
#floating-buttons-inner .btn-wrapper {
	display: inline-block
}
#floating-buttons-inner .floating-btn {
	display: inline-block;
	height: 89px;
	width: 89px;
	cursor: pointer
}
#floating-buttons-inner .floating-btn:hover {
	height: 147px;
	width: 147px;
	display: inline-block;
	cursor: pointer;
}
#floating-buttons-inner .floating-btn span {
	display: none;
}
#floating-buttons-inner .floating-btn.btn-plus {
	height: 89px;
	width: 147px;
	cursor: pointer
}
a.floating-button-plus {
	background: rgba(0,0,0,0) url("../images/floating_open_icon.png") no-repeat scroll center center
}
.btn-open.btn-close a.floating-button-plus {
	background: rgba(0,0,0,0) url("../images/floating_close_icon.png") no-repeat scroll center center
}
a.floatings-bulb {
	padding-top: 75px;
	padding-left: 28px;
	background: rgba(0,0,0,0) url("../images/floating_bulb_icon.png") no-repeat scroll center center;
}
a.floatings-bulb:hover {
	background: rgba(0,0,0,0) url("../images/floating_bulb_icon_hover.png") no-repeat scroll center center
}
a.floatings-mail {
	padding-top: 80px;
	padding-left: 40px;
	background: rgba(0,0,0,0) url("../images/floating_mail_icon.png") no-repeat scroll center center;
}
a.floatings-mail:hover {
	background: rgba(0,0,0,0) url("../images/floating_mail_icon_hover.png") no-repeat scroll center center
}
span.choose-bulb {
	color: #fff;
	font-family: 'Rajdhani', sans-serif;
	font-size: 16px;
	letter-spacing: 2.4px;
	text-transform: uppercase;
	font-weight: bold;
	line-height: 20px;
	text-align: center;
	width: 70px;
}
span.contact-mail {
	color: #fff;
	font-family: 'Rajdhani', sans-serif;
	font-size: 16px;
	letter-spacing: 2.4px;
	text-transform: uppercase;
	font-weight: bold;
	line-height: 16px;
	width: 70px;
	text-align: center;
}
.floating-buttons.show {
	right: 0;
	transition: all .6s ease-in-out 0s;
}
/****** Product Page *********/
.base_image {
	max-width: 307px;
	float: right;
	margin-right: 40px;
}
.logo-enterprise {
	width: 154px;
	height: auto;
}
.product-tabs-vertical {
	position: relative;
	background-color: #f2f2f2;
}
.product-tabs-vertical > .panel .collapsing {
	-webkit-transition: none;
	transition: none;
}
.product-tabs-vertical > .panel .tab_icon {
	display: block;
	width: 155px;
	margin: 33px auto;
	height: 41px;
}
.product-tabs-vertical > .panel .table_size_icon {
	background: url("../images/table_size_icon.png") top center no-repeat;
}
.product-tabs-vertical > .panel .characteristics_icon {
	background: url("../images/characteristics_icon.png") top center no-repeat;
}
.product-tabs-vertical > .panel .doc_icon {
	background: url("../images/doc_icon.png") top center no-repeat;
}
.product-tabs-vertical > .panel .accessories_icon {
	background: url("../images/accessories_icon.png") top center no-repeat;
}
.product-tabs-vertical > .panel > .panel-heading > a, .product-tabs-vertical > .panel > .panel-heading > a:hover, .product-tabs-vertical > .panel > .panel-heading > a:active {
	text-align: center;
	display: block;
 font-family: @font-family-ss-rajdhani;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 18px;
 color: @white;
	text-decoration: none;
	width: 100%;
	letter-spacing: 0.5px;
}
.product-tabs-vertical.tb-mega-sub-menu > .panel > .panel-heading {
	background: #1b66ea;
}
.product-tabs-vertical.tb-mega-sub-menu > .panel > .panel-heading:hover, .product-tabs-vertical.tb-mega-sub-menu > .panel > .panel-heading:hover>a, .product-tabs-vertical.tb-mega-sub-menu > .panel > .panel-heading:hover>a:hover, .product-tabs-vertical.tb-mega-sub-menu > .panel > .panel-heading>a:hover {
	color: #1b66ea;
}
.product-tabs-vertical:not(.tb-mega-sub-menu)>.panel:nth-child(1)>.panel-heading {
	background: #4585f6
}
.product-tabs-vertical:not(.tb-mega-sub-menu)>.panel:nth-child(2)>.panel-heading {
	background: #1b66ea
}
.product-tabs-vertical:not(.tb-mega-sub-menu)>.panel:nth-child(3)>.panel-heading {
	background: #1154ca
}
.product-tabs-vertical:not(.tb-mega-sub-menu)>.panel:nth-child(4)>.panel-heading {
	background: #073991
}
.product-tabs-vertical > .panel > .panel-heading > a:after {
	border-style: solid;
	border-width: 100px 0 100px 30px;
	content: "";
	height: 0;
	position: absolute;
	top: 0;
	width: 0;
	right: -30px;
}
.product-tabs-vertical > .panel:nth-child(1) > .panel-heading > a:after {
	border-color: transparent transparent transparent #4585f6;
}
.product-tabs-vertical > .panel:nth-child(2) > .panel-heading > a:after {
 border-color: transparent transparent transparent @blue-light;
}
.product-tabs-vertical > .panel:nth-child(3) > .panel-heading > a:after {
	border-color: transparent transparent transparent #1154ca;
}
.product-tabs-vertical > .panel:nth-child(4) > .panel-heading > a:after {
	border-color: transparent transparent transparent #073991;
}
.product-tabs-vertical > .panel > .panel-heading > a.collapsed:after {
	border: 0;
}
.product-tabs-vertical > .panel > .panel-heading {
	border: 0;
	border-radius: 0;
	position: relative;
	z-index: 100;
	height: 200px;
}
.product-tabs-vertical > .panel {
	width: 240px;
	border: 0;
	border-radius: 0;
	margin-top: 0 !important;
}
.panel-default > .panel > .panel-heading + .panel-collapse > .content > .panel-body {
	border: 0 none;
}
.product-tabs-vertical > .panel > .panel-collapse {
	height: 800px;
	padding-left: 250px;
	position: absolute;
	top: 0;
	width: 100%;
	background-color: #f2f2f2;
}
.product-tabs-vertical > .panel > .panel-collapse > .content > .panel-body {
	padding-left: 60px;
	padding-right: 60px;
	padding-top: 50px;
	padding-bottom: 50px;
}
.product-tabs-wrapper {
 background: @grey-darker none repeat scroll 0 0;
	min-height: 1000px;
	padding-top: 80px;
	padding-bottom: 80px;
}
.download_link {
	background: url("../images/download_icon.png") top left no-repeat;
	display: block;
	padding-left: 30px;
 font-family: @font-family-ss-rajdhani;
	font-weight: bold;
	font-size: 16px;
 color: @blue-light;
	text-transform: uppercase;
}
.download_link.locked_icon {
	background: url("../images/locked_icon.png") top left no-repeat;
}
.tooltip-inner {
 background-color: @white;
	color: #8a8e97;
	padding: 10px;
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.25);
}
.tooltip.top .tooltip-arrow {
 border-left-color: @white;
 border-top-color: @white;
	border-width: 8px;
	bottom: -8px;
}
@media only screen and (max-width : 992px) {
.product-tabs-vertical > .panel > .panel-collapse {
	background-color: #f2f2f2;
	height: auto;
	overflow: auto;
	padding: 0px;
	position: relative;
	top: auto;
	width: auto;
}
.product-tabs-vertical > .panel > .panel-collapse {
	padding: 0;
}
.product-tabs-vertical > .panel > .panel-collapse > .content > .panel-body {
	padding: 15px;
}
.product-tabs-vertical > .panel {
	width: 100%;
}
.product-tabs-vertical > .panel > .panel-heading a:after {
	border: 0;
}
.product-tabs-vertical > .panel > .panel-heading > a, .product-tabs-vertical > .panel > .panel-heading > a:hover, .product-tabs-vertical > .panel > .panel-heading > a:active {
	margin-top: 33px;
	margin-bottom: 33px;
	text-align: left;
}
.product-tabs-vertical > .panel .tab_icon {
	margin: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 80px;
}
.product-tabs-vertical > .panel > .panel-heading span {
	display: block;
	left: 104px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
.product-tabs-vertical > .panel > .panel-heading {
	height: 100px;
}
}
/* inner accordeon */
.panel-body h2 {
	padding-top: 25px;
	padding-bottom: 25px;
	margin: 0px;
	font-weight: bold;
	width: 100%;
	display: block;
	font-size: 20px;
	text-align: center;
 color: @white;
 background-color: @grey-darker;
}
#accordion_inner .panel-heading a, #accordion_inner .panel-heading a:hover {
	background-color: #e0e1e3;
	text-align: center;
	font-weight: bold;
	width: 100%;
	display: block;
	text-decoration: none;
	font-size: 20px;
 color: @grey-darker;
	padding-top: 25px;
	padding-bottom: 25px;
	position: relative;
 font-family: @font-family-ss-rajdhani;
	letter-spacing: 0;
}
#accordion_inner .panel-heading a.collapsed {
 background-color: @white;
}
#accordion_inner .panel-heading a:after {
	content: '';
	background: url('../images/accordion_arrow_open.png');
	width: 19px;
	height: 12px;
	position: absolute;
	right: 36px;
	top: 50%;
	margin-top: -6px;
}
#accordion_inner .panel-heading a.collapsed:after {
	content: '';
	background: url('../images/accordion_arrow_closed.png');
	width: 12px;
	height: 19px;
	position: absolute;
	right: 40px;
	top: 50%;
	margin-top: -9px;
}
#accordion_inner .panel-heading {
	border-radius: 0;
 background: @white;
	padding: 0;
}
#accordion_inner .panel-body {
	background: #f6f6f7;
	padding: 0;
}
#accordion_inner .panel {
	border-radius: 0;
}
#accordion_inner .panel + .panel {
	margin-top: 0px;
	border-top: 0;
}
#accordion_inner .panel-body table {
	border-top: 0px;
	border-bottom: 0px;
}
#accordion_inner table {
	width: 100%;
}
#accordion_inner table td {
	background-color: #f6f6f7;
 border: 1px solid @grey-lighter;
	width: 33%;
	text-align: left;
	color: #3e4247;
	font-size: 20px;
	font-weight: bold;
	padding-left: 20px;
	padding-top: 25px;
	padding-bottom: 25px;
 font-family: @font-family-ss-rajdhani;
}
#accordion_inner table td span {
	font-weight: 600;
}
#accordion_inner table tr:first-child td {
	border-top: 0px;
}
#accordion_inner table tr td:first-child {
	border-left: 0px;
}
#accordion_inner table tr td:last-child {
	border-right: 0px;
	background-color: #f6f6f7;
}
#accordion_inner table tr:last-child td {
	border-bottom: 0px;
}
.panel-body ul {
	margin: 0;
	padding: 0;
	margin-top: 25px;
	list-style: none;
}
.panel-body ul li {
	margin-bottom: 25px;
}
.panel-body table {
	width: 100%;
}
.panel-body table td, .panel-body table th {
 border: 1px solid @grey-lighter;
	text-align: left;
 color: @grey-darker;
	font-size: 20px;
	padding: 25px 25px 25px 20px;
	font-weight: 600;
 font-family: @font-family-ss-rajdhani;
}
.panel-body table td p {
 color: @grey-darker;
 font-family: @font-family-ss-rajdhani;
	font-size: 20px;
	font-weight: bold;
}
.panel-body table tr td:first-child {
	background-color: #f6f6f7;
	width: 35%;
	font-weight: 600;
}
.panel-body table tr td {
 background-color: @white;
}
.panel-body table th {
 background-color: @grey-darker;
 color: @white;
}
.input-group {
	width: 186px;
	margin: auto;
}
.input-group .form-control {
	width: 100px;
	height: 40px;
	text-align: center;
}
.input-group-btn .btn {
	padding: 8px 14px !important;
	border-radius: 50%;
}
.input-group .btn span, .input-group .btn:hover span {
	color: #4f80ed;
	font-size: 14px;
}
.input-group .input-number {
	font-size: 20px;
}
/* related products */
.product-related-wrapper {
	background-color: #f2f2f2;
	padding-bottom: 120px;
}
.product-related-wrapper .container {
 background-color: @white;
}
.product-related-wrapper .title_related {
	font-size: 32px;
	margin-top: 55px;
	margin-bottom: 10px;
	font-weight: bold;
 color: @grey-darker;
	text-align: center;
	text-transform: uppercase;
 font-family: @font-family-ss-rajdhani;
}
.product-related-wrapper .subtitle_related {
	display: block;
	color: #8a8e97;
	text-align: center;
	font-size: 23px;
	margin-top: 0px;
	margin-bottom: 80px;
	font-weight: normal;
}
.product-related-wrapper .field_image {
	text-align: center;
}
.product-related-wrapper .field_image img {
	border: 1px solid #e9ebed;
	width: 238px;
	height: 331px;
}
.product-related-wrapper .image_wrapper {
	width: 238px;
	height: 331px;
	margin: auto;
	position: relative;
}
.product-related-wrapper .product_related_image_content {
	background: rgba(0, 0, 0, 0.4) none repeat scroll 0 0;
	height: 100%;
	position: absolute;
	top: 0;
	width: 100%;
	display: block;
	opacity: 0;
	-webkit-transition: opacity 1s;
	transition: opacity 1s;
}
.product-related-wrapper .image_wrapper:hover .product_related_image_content {
	opacity: 1;
}
.product-related-wrapper .product_related_image_content span.glyphicon {
 background-color: @blue-light;
	border: 0 solid black;
	border-radius: 50%;
 color: @white;
	font-size: 20px;
	left: 50%;
	padding: 15px;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
}
.product-related-wrapper .field_titile {
	max-width: 182px;
	text-align: center;
 color: @grey-darker;
 font-family: @font-family-ss-rajdhani;
	font-size: 20px;
	font-weight: bold;
	margin-top: 25px;
	margin-bottom: 35px;
	margin-left: auto;
	margin-right: auto;
}
.product-related-wrapper .field_titile::first-letter {
	text-transform: capitalize;
}
/* product info */

.inner_white {
	padding-bottom: 30px;
 background-color: @white;
	padding-left: 15px;
	padding-right: 15px;
}
@media only screen and (min-width : 992px) {
.inner_white {
	padding-left: 25px;
	padding-right: 25px;
}
}
.product-info-wrapper .row.images {
	max-width: 408px;
}
.product-info-wrapper .product_grey_info {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 30px;
	padding-bottom: 25px;
	background-color: #f0f2f4;
}
.product-info-wrapper .product_grey_info span {
 color: @greyish;
}
.product-info-wrapper .product_grey_info ul {
	display: inline;
	list-style: outside none none;
	padding-left: 10px;
}
.product-info-wrapper .product_grey_info ul li {
	display: inline-block;
	margin-right: 10px;
}
.product-info-wrapper .product_grey_info ul li img {
	max-width: 37px;
	height: auto;
}
.product-info-wrapper .product_grey_info > div {
	margin-bottom: 20px;
}
.product-info-wrapper .product_grey_info > div:last-child {
	margin-bottom: 0px;
}
.product-info-wrapper .btn1, .product-info-wrapper .btn2, .product-accessories-downloads .btn1 {
	float: right;
	position: relative;
	margin-top: 15px;
	margin-right: 10px;
	max-width: 100%;
	width: 280px;
}
.product-accessories-downloads .btn1 {
	margin-top: -36px;
	margin-right: 0px;
	margin-bottom: 30px;
}
.product-accessories-downloads .btn1:before {
	display: block;
	position: absolute;
	right: 13px;
	top: 50%;
	-ms-transform: translateY(-50%); /* IE 9 */
	-webkit-transform: translateY(-50%); /* Safari */
	transform: translateY(-50%);
}
.btn2.choose-model {
	margin-bottom: 15px;
	margin-top: 60px;
}
.product-accessories-downloads .btn2, .btn2.choose-model {
 color: @blue-light;
 font-family: @font-family-ss-rajdhani;
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 2.4px;
	text-transform: uppercase;
}
.product-accessories-downloads .btn2 a, .btn2.choose-model a {
 color: @blue-light;
	background: url('../images/mid_blue_arrow.png') center left no-repeat;
	padding-left: 28px;
}
.product-info-wrapper .btn1 a, .product-info-wrapper .btn2 a, .product-accessories-downloads .btn1 a {
	color: #1154ca;
	display: block;
 font-family: @font-family-ss-rajdhani;
	font-size: 16px;
	letter-spacing: 2.4px;
	padding: 20px 60px 20px 30px;
	text-transform: uppercase;
	border-radius: 5px;
 border: 4px solid @blue-light;
	font-weight: bold;
}
.product-accessories-downloads .btn1 a {
	padding-right: 70px;
}
.product-info-wrapper .btn1 a:hover {
 background-color:@blue;
 border: 4px solid @blue;
	color: #fff;
}
.product-info-wrapper .btn2 a:hover {
 background-color:@blue;
 border: 4px solid @blue;
}
.product-info-wrapper .btn1:before, .product-info-wrapper .btn2:before {
	display: block;
	position: absolute;
	right: 27px;
	top: 50%;
	-ms-transform: translateY(-50%); /* IE 9 */
	-webkit-transform: translateY(-50%); /* Safari */
	transform: translateY(-50%);
}
.product-info-wrapper .btn1:before {
	content: ' ';
	background: url('../images/download_arrow.png') center center no-repeat;
	height: 28px;
	width: 28px;
}
.product-info-wrapper .btn1:hover:before {
	background: url('../images/download_arrow_white.png') center center no-repeat;
}
.product-accessories-downloads .btn1:before {
	content: ' ';
	background: url('../images/telecharger_icon.png') center center no-repeat;
	height: 64px;
	width: 68px;
}
.product-info-wrapper .btn2:before {
	content: ' ';
	background: url('../images/white_arrow.png') center center no-repeat;
	height: 14px;
	width: 9px;
}
.product-info-wrapper .btn1 a:hover, .product-info-wrapper .btn2 a:hover {
	text-decoration: none;
}
.product-info-wrapper .btn2 a {
 background-color: @blue-light;
 color: @white;
}
@media only screen and (max-width : 992px) {
.product-accessories-downloads .btn1 {
	margin-top: 0px;
}
}
@media only screen and (max-width : 767px) {
.product-info-wrapper .btn1, .product-info-wrapper .btn2 {
	width: 100%;
	margin-right: 0;
}
.product-info-wrapper .btn1 a, .product-info-wrapper .btn2 a {
	border-radius: 0;
}
.product-info-wrapper .product_buttons_info {
	margin-bottom: 30px;
}
}
.product-info-wrapper .product_grey_info, .product-info-wrapper .product_buttons_info {
 color: @greyish;
 font-family: @font-family-ss-rajdhani;
	font-weight: 500;
	font-size: 18px;
	margin-top: 20px;
}
.product-info-wrapper .producy_compare {
	margin-top: 30px;
	text-align: right;
}
.product-info-wrapper .producy_compare a {
	color: #1154ca;
	display: block;
 font-family: @font-family-ss-rajdhani;
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 2.4px;
	text-transform: uppercase;
}
.product-info-wrapper .producy_compare .flag-compare-plus a {
	background: url("../images/scroll_plus_icon.png") right center no-repeat;
	padding-right: 40px;
}
.product-info-wrapper .producy_compare a:hover {
	text-decoration: none;
}
.product-info-wrapper .producy_compare a span {
	background-color: #1154ca;
	border-radius: 50%;
 color: @white;
	font-size: 10px;
	margin-left: 20px;
	padding: 6px 6px 7px 7px;
}
.product-info-wrapper .img_label {
	background-color: #fab846;
    color: @white;
	display: block;
    font-family: @font-family-ss-rajdhani;
	font-size: 14px;
	font-weight: bold;
	left: 5px;
	letter-spacing: 2.4px;
	padding: 13px 20px;
	position: absolute;
	text-transform: uppercase;
	top: 10px;
	z-index: 100;
}
.product-teaser.product-info-wrapper .img_label{
  padding: 5px 10px;
  left: 0;
}
.product-info-wrapper .images img {
	border: 1px solid #e9ebed;
}
.product-info-wrapper .images .thumbnails ul {
	list-style: outside none none;
	margin: 0;
	padding: 0;
}
.product-info-wrapper .images .thumbnails ul li {
	margin-bottom: 10px;
}
.product-info-wrapper .images .thumbnails ul li:nth-child(n+4) {
	display: none;
}
.product-info-wrapper .images .thumbnails ul li:last-child {
	margin-bottom: 0px;
}
/* gallery fix */
@media only screen and (max-width : @inner-res) {
.product-info-wrapper .images .thumbnails ul li {
 margin-bottom: 14px;
}
}
@media only screen and (max-width : 992px) {
.product-info-wrapper .images .thumbnails ul li {
	margin-bottom: 16px;
}
}
.product-info-wrapper .product_title {
 color: @grey-darker;
	font-size: 55px;
	font-weight: bold;
	margin-bottom: 10px;
	margin-top: 55px;
	text-align: center;
	text-transform: uppercase;
}
@media only screen and (max-width : 480px) {
  .product-info-wrapper .product_title {
    font-size: 34px;
	}
}
.product-info-wrapper .product_subtitle {
	display: block;
	color: #8a8e97;
 font-family: @font-family-ss-roboto;
	text-align: center;
	font-size: 30px;
	margin-top: 0px;
	margin-bottom: 43px;
	font-weight: 300;
	text-transform: none;
}
.product-info-wrapper .product_subtitle p {
	display: block;
	color: #8a8e97;
 font-family: @font-family-ss-roboto;
	text-align: center;
	font-size: 30px;
	margin: 0;
	font-weight: 300;
}
.grey_separator {
 background: @grey-lighter none repeat scroll 0 0;
	height: 3px;
	margin: auto auto 70px;
	width: 100px;
}
.product-info-wrapper.product-teaser h2.product_title {
	font-size: 35px;
	text-align: left;
}
.product-info-wrapper.product-teaser .product_subtitle, .product-info-wrapper.product-teaser .product_subtitle p {
 color: @blue-light;
 font-family: @font-family-ss-roboto;
	font-weight: 300;
	font-size: 20px;
	text-align: left;
	margin-bottom: 10px;
}
.product-info-wrapper .product-description {
	padding-left: 30px;
}
.product-info-wrapper.product-teaser .product_image img {
	border: 1px solid #e9ebed;
}
.product-info-wrapper.product-teaser .product-description ul {
	padding-left: 0px;
}
.product-info-wrapper.product-teaser .product-usage {
	color: #b3b8c3;
 font-family: @font-family-ss-roboto;
	font-weight: bold;
	font-size: 14px;
	width: 150px;
	margin-left: 10px;
}
.product-info-wrapper .col {
	padding: 0;
}
/*lightbox fix */
#frameHoverNav {
	width: auto !important;
}
.lightbox2-alt-layout #imageData #bottomNav, .lightbox2-alt-layout-data #bottomNav {
	margin-bottom: 0px;
}
.lightbox2-alt-layout-data #bottomNavClose, .lightbox2-alt-layout #bottomNavClose {
	margin-top: 33px;
}
#imageData #bottomNav {
	position: relative;
}
#framePrevLink, #frameNextLink {
	position: relative;
}
#lightboxFrame {
	border: none;
}
/* slick slider products */
.product-info-wrapper .product_slick {
	position: relative;
}
.product-info-wrapper .product_slick .prev_product, .product-info-wrapper .product_slick .next_product {
	position: absolute;
	left: 0px;
	top: 50%;
	transform: translateY(-50%);
	z-index: 100;
	color: #4b86ee;
	font-size: 20px;
	cursor: pointer;
}
.product-info-wrapper .product_slick .next_product {
	left: unset;
	right: 0px;
}
.product-info-wrapper .product_slick img {
	margin: auto;
}
/* product description */
.product-info-wrapper .product-description, .product-info-wrapper .product-description p {
	color: #3e4247;
 font-family: @font-family-ss-roboto;
	font-weight: normal;
	font-size: 16px;
	line-height: 23px;
}
.product-info-wrapper .product-description p {
	margin: 15px 0px;
}
.product-info-wrapper .product-description p.top-axess-price{
  font-size: 40px;
	font-weight: 800;
}
.product-info-wrapper .product-description .top-axess-sentetance p{
  font-size: 16px;
	font-weight: 400;
	color: #b6b7ba;
}
.product-info-wrapper .product-description b, .product-info-wrapper .product-description strong {
 font-family: @font-family-ss-roboto;
	font-weight: 500;
}
.product-info-wrapper .product-description ul li {
	list-style: none;
	list-style-image: url('../images/product-bullet.png');
	line-height: 36px;
	font-weight: 500;
}
.product-info-wrapper .product-description ul li p {
	font-weight: 500;
}
.normes-logos img {
	display: inline;
	height: 60px !important;
	margin-left: 15px;
}
.product-teaser .normes-logos img {
  width: 40px !important;
  height: auto !important;
}
.view-id-facet_search .product-info-wrapper .product-description ul li p {
	font-weight: normal;
}
/* Nano Scroller Vertical */
.nano-scrollbar-product {
	position : relative;
	width : 100%;
	height: 400px;
	overflow : hidden;
}
@media only screen and (min-width : 767px) {
.nano-scrollbar-product > .content {
	padding-left : 250px;
	position : absolute;
	overflow : scroll;
	overflow-x : hidden;
	top : 0;
	right : 0;
	bottom : 0;
	left : 0;
}
}
@media only screen and (max-width : 767px) {
.nano-scrollbar-product > .content {
	margin-right: 0px !important;
}
}
.nano-scrollbar-product > .content:focus {
	outline: thin dotted;
}
.nano-scrollbar-product > .content::-webkit-scrollbar {
 visibility: hidden;
}
.has-scrollbar > .content::-webkit-scrollbar {
 visibility: visible;
}
.nano-scrollbar-product > .nano-pane {
	background : rgba(0,0,0,.25);
	position : absolute;
	width : 10px;
	right : 0;
	top : 0;
	bottom : 0;
	visibility : hidden\9; /* Target only IE7 and IE8 with this hack */
	opacity : .01;
	-webkit-transition : .2s;
	-moz-transition : .2s;
	-o-transition : .2s;
	transition : .2s;
	-moz-border-radius : 5px;
	-webkit-border-radius : 5px;
	border-radius : 5px;
}
.nano-scrollbar-product > .nano-pane > .nano-slider {
	background: #444;
	background: rgba(0,0,0,.5);
	position : relative;
	margin : 0 1px;
	-moz-border-radius : 3px;
	-webkit-border-radius : 3px;
	border-radius : 3px;
}
.nano-scrollbar-product:hover > .nano-pane, .nano-pane.active, .nano-pane.flashed {
	visibility : visible\9; /* Target only IE7 and IE8 with this hack */
	opacity : 0.99;
}
/****** Whislist ******/
.fulllist .inner-white {
 background: @white;
	padding: 0 55px;
}
.fulllist img {
	border: 1px solid #e9ebed;
	float: left;
	margin-right: 50px;
}
.fulllist .headinfo {
	border-bottom: 4px solid #d6d6d6;
	padding-top: 60px;
	padding-bottom: 30px;
}
.fulllist .views-fieldset {
	font-size: 14px;
	color: #828ca2;
font-family: @font-family-ss-rajdhani;
}
.fulllist .views-fieldset .field-content {
	font-weight: bold;
}
.fulllist .views-field-title {
}
.fulllist .views-field-sku {
	margin-top: 2px;
	margin-bottom: 30px;
}
/****** Comparator ******/
.view-compare {
	background-color: #f2f2f2;
}
.view-compare ul {
	margin: 0px;
	padding: 0px;
	list-style: outside none none;
}
.view-compare ul > li {
	position: relative;
	height: 362px;
	display: block;
	float: left;
 background-color: @white;
	margin-right: 10px;
	width: 285px;
	padding: 40px 18px 30px;
}
.view-compare ul > li:last-child {
	margin-right: 0px;
}
.view-compare ul > li img {
	float: left;
	border: 1px solid #eaecee;
	margin-right: 18px;
	margin-bottom: 35px;
}
.view-compare .views-field-field-family {
	color: #828ca2;
	font-size: 18px;
	line-height: 18px;
	font-weight: 600;
	padding-bottom: 24px;
	text-transform: lowercase;
 font-family: @font-family-ss-rajdhani;
}
.view-compare .views-field-field-family .field-content:first-letter {
	text-transform: capitalize;
}
.view-compare .views-field-title a {
 color: @grey-darker;
	font-weight: bold;
	font-size: 20px;
	line-height: 26px;
 font-family: @font-family-ss-rajdhani;
	text-transform: uppercase;
	letter-spacing: 1.8px;
}
.view-id-compare.view-display-id-page a.flag-action {
	display: none;
}
.docs-hide-pager .pager {
	display: none;
}
.view-compare ul > li:first-child {
 background-color: @grey-darker;
	padding-left: 39px;
	padding-right: 39px;
}
.view-compare ul > li:first-child h3 {
	font-size: 30px;
	text-transform: uppercase;
	margin-top: 0;
	text-align: center;
 color: @white;
}
.view-compare ul > li:first-child .grey_separator {
	margin-top: 20px;
	margin-bottom: 40px;
}
.view-compare ul > li:first-child p {
 color: @white;
	font-size: 20px;
	line-height: 27px;
	font-weight: 300;
 font-family: @font-family-ss-roboto;
}
.view-compare.container {
	padding: 0px;
}
.view-compare.product-info-wrapper .btn1, .view-compare.product-info-wrapper .btn2, .view-compare.product-accessories-downloads .btn1 {
	float: unset;
	margin-right: 0px;
	width: 249px;
}
.view-compare.product-info-wrapper .btn1 a, .view-compare.product-info-wrapper .btn2 a, .view-compare.product-accessories-downloads .btn1 a {
	padding: 10px 40px 10px 10px;
}
.view-compare .views-field-nothing {
	bottom: 30px;
	position: absolute;
}
#ajax_replace_auto {
	z-index: 9999;
	top: -50px;
	left: 100px;
}
/****** Popup Messages ******/

.modal-footer {
	border-top: none;
}
.modal-footer .btn {
	background: #1b66ea none repeat scroll 0 0;
	border-radius: 25px;
	color: #ffffff;
	font-family: "Rajdhani", sans-serif;
	font-size: 16px;
	font-weight: bold;
	padding: 12px 35px !important;
	text-transform: uppercase;
}
.modal-content {
	border-radius: 0px;
}
.modal-body ._messages {
	padding: 30px;
	font-family: "Rajdhani", sans-serif;
}
.modal-body ul li {
	padding-left: 0;
	list-style: none;
}
/****** User Password Change ******/
#user-pass #edit-submit {
	background: #1b66ea none repeat scroll 0 0;
	border-radius: 25px;
	color: #ffffff;
	font-family: "Rajdhani", sans-serif;
	font-size: 16px;
	font-weight: bold;
	padding: 12px 35px !important;
	text-transform: uppercase;
}
div.modal-forms-modal-content #modal-content {
	border: none;
	box-shadow: none;
}
@media (max-width:1200px) and (min-width:768px) {
.header-left .header-left-second .pane-page-logo, .header-left .header-left-second .pane-bean-logo-en {
	padding-left: 20px;
}
.bean-top-slider .slide__description p, .bean-slider2 .slide__description p {
	font-size: 16px !important;
}
.bean-top-slider .slide__title, .bean-slider2 .slide__title {
	font-size: 30px !important;
	margin-top: 0px;
}
.pane-bean-tubesca-comabi-est-une-entrepris .pane-content {
	padding-left: 15px;
}
.bean-find-solution select#find-solution {
	width: 360px;
	height: 60px;
	border: none;
	border-radius: 3px;
}
.product-tabs-vertical .product-accessories-downloads .input-group {
	width: 136px;
}
.product-tabs-vertical .product-accessories-downloads .input-group .form-control {
	width: 50px;
}
}
@media only screen and (max-width: 520px){
	.search-page-filters ul li {
		font-size:10px;
	}
}