// Settings
//
// Variables
// --------------------------------------------------
/****** Tubesca Comabi Theme ******/

//== Colors
@blue-light:              #1b66ea;
@blue:                    #0e439f;
@blue-darker:             #182740;

@grey-darker:             #4b4f58;
@greyish:                 #828ca2;
@grey:                    #90939a;
@grey-lighter:            #d6d6d6;

@white:                   #ffffff;

//== Fonts
@font-family-ss-roboto:          'Roboto', sans-serif;
@font-family-ss-rajdhani:        'Rajdhani', sans-serif;
@font-family-os:                  'Open Sans', sans-serif;


//== Resolutions
@max-res: 100%;
@inner-res: 1200px;